<p>register works!</p>
<form [formGroup]="register">
    <input formControlName="address" type="text"> 
    <input formControlName="email" type="text"> 
    <input formControlName="password" type="text"> 
    <input formControlName="cellphone" type="text"> 
    <input formControlName="city" type="text"> 
    <input formControlName="company_name" type="text"> 
    <input formControlName="country" type="text"> 
    <input formControlName="details" type="text"> 
    <input formControlName="location" type="text"> 
    <input formControlName="name" type="text"> 
</form>
